/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";

body,html{
  height: 100vh;
}

// ---------------
// 新規登録・ログイン
// ---------------
.banner,
.login-banner{
  width: 780px;
  height: 60px;
  border-radius: 16px;
  margin: 0 auto;
  background-color: darkturquoise;
  h1{
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: snow;
  }
}

.profile-title{
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:rgb(0, 140, 255);
}

.header-posts{
  height: 100px;
  background: linear-gradient(90deg, rgb(233, 237, 22), rgb(19, 26, 10));
  h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    color: whitesmoke;
    border-bottom: inset 5px black;
  }
}

// .images{
//   // height: 300px;
//   // width: 25%;
// }

// ------------------
// ユーザープロフィール
// ------------------
.pf-wrapper {
  padding: 0 50px;
  width: 80%;
  margin:  0 auto;
}
.pf-image{
  border: solid 2px black;
  display: flex;
  img {
    width: 400px;
    height: 300px;
    padding: 10px;
    object-fit: contain;
  }
  .namebox{
    margin-left: 30px;
    font-size: 40px;
  }
  .profilebox{
    font-size: 10px;
    height: 210px;
    width: 400px;
    background-color: whitesmoke;
  }
}

.mypost-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
}


.home-wrapper {
  display: flex;
}
.home-title{
  line-height: 660px;
  font-size: 50px;
  font-weight: bold;
  font-family: HoeflerText;
  font-variant-east-asian: full-width;
  text-align: center;
  color: black;
}


// ----------------
// 今週のおすすめ選手
// ----------------
.week-fav {
  width: 30%;
  padding: 0 20px;
  border: 3px solid #666666;
  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
  }

  .fav-img {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  }
  .fav-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  .fav-img:hover img:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) scale(1.15) !important;
    transform: translate(-50%, -50%) scale(1.15) !important;
    opacity: 0;
  }

  ul {
    li {
      margin-bottom: 10px;
      h4 {
        color: red;
        font-weight: bold;
      }
    }
    .name {
      border-bottom: 2px solid red;
      font-weight: bold;
    }
    .team {
      font-weight: bold;
    }
  }
}

.back-image{
  width: 70%;
  background-image: url(https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  opacity: 0.7;
}

                        .edit-title{
                          font-size: 30px;
                          font-weight: bold;;
                          line-height: 80px;
                          text-align: center;
                          text-shadow: 2px 2px 3px #666666;
                        }

.post-showtitle{
  font-size: 40px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, rgb(233, 237, 22), rgb(19, 26, 10));
}

// ---------------
// 投稿詳細エリア
// ---------------
.show-content{
  padding: 80px 0 100px 0;
  display: flex;
  margin: 0 auto;
  background-color: rgb(173, 166, 166);
  .show-wrapper {
    margin: 0 auto;
    display: flex;
  }
  .right-box {
    background-color: white;
    height: 400px;
    width: 400px;
    margin-left: 20px;
    border-radius: 4px;
  }
  .show-name {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
  }
  .show-title {
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
  }
}
.example{
  width: 600px;
  height: 400px;
  object-fit: contain;
}

.searchbox{
  text-align: center;
  background-color: rgb(233, 237, 22);
}
.search-input {
  height: 40px;
}


