/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";

body,html{
  height: 100vh;
}

.banner{
  height: 60px;
  border-radius: 50px;
  background-color: darkturquoise;
  h1{
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: snow;
  }
}

.login-banner{
  height: 60px;
  background-color: darkturquoise;
  border-radius: 50px;
  h1{
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: white;
  }
}

.header{
  height: 80px;
  border: inset 8px aqua;
}

.profile-title{
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:rgb(0, 140, 255);
}

.header-posts{
  height: 100px;
  background: linear-gradient(90deg, rgb(233, 237, 22), rgb(19, 26, 10));
  h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    color: whitesmoke;
    border-bottom: inset 5px black;
  }
}

.images{
  height: 300px;
  width: 25%;
}

.content__image{
  text-align: 25%;
  padding-top: 10px;
  padding-left: 150px;
  border: solid 2px black;
  display: flex;
  position: relative;
  .namebox{
    margin-left: 30px;
    font-size: 40px;
  }
  .profilebox{
    font-size: 10px;
    border:solid 1px cornsilk;
  }
  .emailbox{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.mypost-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.home-title{
  line-height: 660px;
  font-size: 50px;
  font-weight: bold;
  font-family: HoeflerText;
  font-variant-east-asian: full-width;
  text-align: center;
  color: black;
}

.edit-title{
  font-size: 30px;
  font-weight: bold;;
  line-height: 80px;
  text-align: center;
}

.back-image{
  height: 660px;
  background-color: rgb(238, 241, 28);
  background-position: center;
  background-image: url(https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058__480.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.post-showtitle{
  font-size: 40px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, rgb(233, 237, 22), rgb(19, 26, 10));
}

.show-content{
  text-align: center;
  background-color: papayawhip;
}

.example{
  width: 600px;
  height: 400px;
  margin-left: 400px;
  object-fit: contain;
}

.searchbox{
  text-align: center;
  background-color: rgb(233, 237, 22);
}
.search-input {
  height: 40px;
}